
<!doctype html>
<html lang="en" xmlns="">
{% load bootstrap5 %}
{% bootstrap_css %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Rate of exchange</h1>
<div class="alert alert-info">
  <span>Choose currency and put amount.</span>
</div>
<form class = "form-group" method="POST">
    {% csrf_token %}
    <p>{{ form.as_p }}</p>
    <input class="btn-primary" type="submit" value="Calculate">
</form>

{% if quantity %}
    <p>Result is {{ quantity }}</p>
{% endif %}

</body>
</html>