<!doctype html>
<html lang="en">
{% load bootstrap5 %}
{% bootstrap_css %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main menu</title>
</head>
<body style="margin: 5px">
<h1 class="h1">Main menu</h1>
<ul class="list-group">
    <li class="list-group-item"><a href="/exchange-rates">Rates collected in
        JSON
        format</a></li>
    <li class="list-group-item"><a href="/exchange-window">Exchange window</a>
    </li>
</ul>
</body>
</html>